# Ignore build artifacts and logs
/target
/tihc.log



# Ignore Config and OS files
config.toml
.DS_Store

# Ignore frontend build artifacts and node modules

/frontend/shared/node_modules
/frontend/shared/dist

/frontend/tihc-extension/node_modules
/frontend/tihc-extension/dist
/frontend/tihc-extension/.output
/frontend/tihc-extension/.wxt
/frontend/tihc-extension/.env.development
/frontend/tihc-extension/.env.production
/frontend/tihc-extension/jsconfig.json
/frontend/tihc-extension/yarn.lock
/frontend/tihc-extension/result
/frontend/tihc-extension/src

/plugins/plugin_ddl_checker/go/libschematracker.a
/plugins/plugin_ddl_checker/go/libschematracker.h
