/target
/bin
tihc.log

# Ignore node_modules and build artifacts for tihc-frontend
/frontend/node_modules
/frontend/dist

/releases
/plugins/plugin_lossy_ddl/go/libschematracker.a
/plugins/plugin_lossy_ddl/go/libschematracker.h

/report_dir
test.sql

# Logs
extensions/tihc-extension/logs
extensions/tihc-extension/*.log
extensions/tihc-extension/npm-debug.log*
extensions/tihc-extension/yarn-debug.log*
extensions/tihc-extension/yarn-error.log*
extensions/tihc-extension/pnpm-debug.log*
extensions/tihc-extension/lerna-debug.log*

extensions/tihc-extension/node_modules
extensions/tihc-extension/.output
extensions/tihc-extension/stats.html
extensions/tihc-extension/stats-*.json
extensions/tihc-extension/.wxt
extensions/tihc-extension/web-ext.config.ts

extensions/tihc-extension/# Editor directories and files
extensions/tihc-extension/.vscode/*
extensions/tihc-extension/!.vscode/extensions.json
extensions/tihc-extension/.idea
extensions/tihc-extension/.DS_Store
extensions/tihc-extension/*.suo
extensions/tihc-extension/*.ntvs*
extensions/tihc-extension/*.njsproj
extensions/tihc-extension/*.sln
extensions/tihc-extension/*.sw?




# Logs
extensions/tihc-jira-extension/logs
extensions/tihc-jira-extension/*.log
extensions/tihc-jira-extension/npm-debug.log*
extensions/tihc-jira-extension/yarn-debug.log*
extensions/tihc-jira-extension/yarn-error.log*
extensions/tihc-jira-extension/pnpm-debug.log*
extensions/tihc-jira-extension/lerna-debug.log*

extensions/tihc-jira-extension/node_modules
extensions/tihc-jira-extension/.output
extensions/tihc-jira-extension/stats.html
extensions/tihc-jira-extension/stats-*.json
extensions/tihc-jira-extension/.wxt
extensions/tihc-jira-extension/web-ext.config.ts

extensions/tihc-jira-extension/# Editor directories and files
extensions/tihc-jira-extension/.vscode/*
extensions/tihc-jira-extension/!.vscode/extensions.json
extensions/tihc-jira-extension/.idea
extensions/tihc-jira-extension/.DS_Store
extensions/tihc-jira-extension/*.suo
extensions/tihc-jira-extension/*.ntvs*
extensions/tihc-jira-extension/*.njsproj
extensions/tihc-jira-extension/*.sln
extensions/tihc-jira-extension/*.sw?

extensions/tihc-jira-extension/result